$primary   : #F0F2F5;
$secondary : #FFFFFF;



$app-bluish-white : #E8F0FE;
$app-white-0 : #FFFFFF;
$app-black-sharp : #030303;
$app-black-0 : #1C1E21;
$app-black-1 : #332525;
$app-black-2 : #191b1f;
$app-black-3 : #27282b;
$app-blue-0  : #0069f3;
$app-blue-1  : #481de2;
$app-blue-2  : #2196f3;
$app-blue-3  : #7C41F5;
$app-blue-4  : #3ACBE8;
$app-blue-5  : #7C41F5;
$app-gray-0  : #8e8d92;
$app-gray-1  : #a4c3c5;
$app-gray-2  : #b7b9b8;
$app-green-0 : #a5c02e;
$app-green-1 : #42B72A;
$app-green-2 : #41a02f;
$app-green-3 : #309E5D;
$app-green-4 : #F5C525;
$app-green-5 : #FF9062;
$app-green-6 : #54B54F;
$app-red-0   : #cc2525;
$app-red-1   : #c23232;
