/** nav bar **/
/** collapse btn **/
/** brand label **/
/** nav link fg **/
/** home **/
/** platform **/
/** about **/
/** pricing **/
/** plan **/
/** contact **/
/** footer **/
/** social links **/
@font-face {
  font-family: noto-sans;
  src: url("../assets/fonts/NotoSans-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: noto-sans;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #15191C !important;
}

body {
  width: 100vw;
  height: 100vh;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow: hidden auto;
  background-color: inherit !important;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  body {
    min-width: 280px;
    min-height: 653px;
  }
}

body::-webkit-scrollbar {
  display: none;
}

#nav {
  background-color: #15191C;
}
#nav.reveal {
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.6);
}

@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  15%, 25% {
    padding-top: 25%;
    width: 25%;
  }
  25%, 50% {
    padding-top: 50%;
    width: 50%;
  }
  50%, 75% {
    padding-top: 75%;
    width: 75%;
  }
  75%, 100% {
    padding-top: 150%;
    width: 150%;
  }
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
  }
  15%, 25% {
    padding-top: 25%;
    width: 25%;
  }
  25%, 50% {
    padding-top: 50%;
    width: 50%;
  }
  50%, 75% {
    padding-top: 75%;
    width: 75%;
  }
  75%, 100% {
    padding-top: 150%;
    width: 150%;
  }
}
#home {
  padding-top: 56px;
  height: auto !important;
  background-color: #15191C;
}

#home > .background {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  #home > .background {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.wrapper {
  overflow: hidden;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .wrapper {
    width: 85%;
  }
}

.wrapper > .wrapper-bg {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.wrapper > .wrapper-fg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  inset: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
@supports not ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
  .wrapper > .wrapper-fg {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.wrapper .content > .large-title {
  width: 100%;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .wrapper .content > .large-title {
    font-size: 35px;
  }
}

.wrapper .content > .small-description {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .wrapper .content > .small-description {
    font-size: 14px;
  }
}

.wrapper .content > .explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 16px;
  color: #ffffff;
  background-color: #128612;
  border-radius: 1.4em;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .wrapper .content > .explore-btn {
    width: 110px;
    height: 35px;
    font-size: 14px;
  }
}

#platforms, .availability {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40%;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  #platforms, .availability {
    padding: 50px 0;
    height: auto;
  }
}

.availability > .av-label {
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .availability > .av-label {
    font-size: 30px;
    margin: 15px 0;
  }
}

.availability > .platforms-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: auto;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .availability > .platforms-container {
    width: 85%;
    margin: 15px 0;
  }
}

.platforms-container > .platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  text-decoration: none;
  color: #818181;
}
.platforms-container > .platform:hover {
  color: #9378f7;
}

.platform > .platform-icon {
  margin: 10px 0;
  font-size: 45px;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .platform > .platform-icon {
    font-size: 35px;
  }
}

.platform > .platform-type {
  margin: 10px 0;
  font-size: 18px;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .platform > .platform-type {
    font-size: 16px;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

#about .about-title {
  font-family: "Quicksand", sans-serif;
  align-items: center;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  #about .about-title {
    margin: 15px 0;
    width: 85%;
    font-size: 30px;
  }
}

#about .about-description {
  font-family: "Quicksand", sans-serif;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  #about .about-description {
    margin: 15px 0;
    font-size: 16px;
  }
}

#pricing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
  height: auto;
}

#pricing .pricing-title {
  font-family: "Quicksand", sans-serif;
  align-items: center;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  #pricing .pricing-title {
    margin: 15px 0;
    width: 85%;
    font-size: 30px;
  }
}

.plan {
  display: block;
  width: 100%;
  min-height: 100%;
  background-color: #22252F;
  border: 1px solid #acacac;
}

.plan > .plan-fg-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  inset: 0;
  width: 100%;
}

.plan-fg-panel > .plan-title-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  font-size: 20px;
}

.plan-title-wrapper > .plan-icon {
  margin: 0 5px;
  color: #9378f7;
}

.plan-title-wrapper > .plan-title {
  font-family: "Quicksand", sans-serif;
  margin: 0 5px;
  color: #ffffff;
  font-weight: bold;
}

.plan-fg-panel > .table {
  display: block;
  width: 90%;
  height: 70%;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.table > .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  width: 100%;
  scroll-snap-align: start;
}

.row > .column {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
}
.row > .column.cell-0 {
  width: 20%;
}
.row > .column.cell-1 {
  width: 80%;
}

.cell-0 > .feature-icon {
  font-size: 18px;
}
.cell-0 > .feature-icon.feature-yes {
  color: #33aa33;
}
.cell-0 > .feature-icon.feature-no {
  color: #b84545;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .cell-0 > .feature-icon {
    font-size: 22px;
  }
}

.cell-1 > .feature-desc {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .cell-1 > .feature-desc {
    font-size: 18px;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
  height: auto;
}

#contact .contact-title {
  font-family: "Quicksand", sans-serif;
  margin: 25px 0;
  align-items: center;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  #contact .contact-title {
    margin: 15px 0;
    width: 85%;
    font-size: 30px;
  }
}

#contact #contact-form {
  background-color: #22252F;
}

.landpage-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #0c0d0f;
}

.landpage-footer > .social-link-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  width: 15%;
  height: auto;
}
@media screen and (min-width: 0px) and (max-width: 540px) {
  .landpage-footer > .social-link-wrapper {
    width: 60%;
  }
}

.social-link-wrapper > .social-link {
  font-size: 35px;
  text-decoration: none;
  color: #777777;
}

.landpage-footer > .copy-rights {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
  color: #777777;
}/*# sourceMappingURL=geocars.css.map */