
@import '../css/view';

// colors
$primary   : #15191C;
$secondary : #22252F;


/** nav bar **/
$nav-bar-size : 56px;

/** collapse btn **/
// non-active
$collapse-non-active : #9378f7;  
// non-active
$collapse-active     : #7e5df8;
// ripple
$collapse-ripple     : rgba(#ffffff,0.2);
// icon fg
$collapse-icon-color : #ffffff;

/** brand label **/
// regular fg
$brand-label-fg :#e5ff00;
// mobile fg
$brand-label-mobile-fg :#ffffff;

/** nav link fg **/
$nav-link-fg: #ffffff;
// active indicator
$nav-link-active: #ffffff;
// active indicator (medium dev)
$nav-link-active-fg : #9378f7;

/** home **/
$home-text-fg : #ffffff;
$explore-btn-bg: #128612;
$explore-btn-ripple: rgba(33, 182, 53, 0.2);

/** platform **/
$platform-fg : #818181;
$platform-hover-fg : #9378f7;

/** about **/
$about-fg : #ffffff;
/** pricing **/
$pricing-fg: #ffffff;
/** plan **/
$plan-border : #acacac;
$plan-icon-fg : #9378f7;
$feature-yes-fg : #33aa33;
$feature-no-fg : #b84545;
/** contact **/
$contact-fg : #ffffff;
$contact-border : #acacac;
$email-icon-fg : #b9b8b8;
$input-borders-bg : #9378f7;
$input-bg : #eeeeee;
$send-message-btn-fg : #ffffff;
$send-message-btn-bg : #724df7;
$send-message-btn-ripple-bg : rgba(180, 142, 252, 0.2);
/** footer **/
$footer-bg : #0c0d0f;
/** social links **/
$social-link-fg : #777777;
$copy-rights-fg : #777777;

@font-face {
    font-family: noto-sans;
    src: url('../assets/fonts/NotoSans-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: noto-sans;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    background-color: $primary !important;
}

body {
    width: 100vw;
    height: 100vh;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow: hidden auto;
    background-color: inherit !important;
    
    @include onMediumDevice {
        min-width: 280px;
        min-height: 653px;
    }
}

body::-webkit-scrollbar {
    display: none;
}

#nav{
    background-color: $primary;
    &.reveal {
        box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.6);
    }
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
    }
    15% , 25%{
        padding-top: 25%;
        width: 25%;
    }

    25% , 50% {
        padding-top: 50%;
        width: 50%;
    }
    50% , 75% {
        padding-top: 75%;
        width: 75%;
    }
    75% , 100%  {
        padding-top: 150%;
        width: 150%;
    }
}


#home {
    padding-top: 56px;
    height: auto !important;
    background-color: $primary;
}

#home > .background {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    @include onMediumDevice {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.wrapper {
    overflow: hidden;
    @include onMediumDevice {
        width: 85%;
    }
}

.wrapper > .wrapper-bg {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    filter: blur(4px);
}

.wrapper > .wrapper-fg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    position: absolute;
    inset: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.2) !important;
    @supports not (backdrop-filter: blur(6px)) {
        background-color: rgba(0,0,0,0.2);
    }
}

.wrapper .content > .large-title {
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    color: $home-text-fg;
    @include onMediumDevice {
        font-size: 35px;
    }
}

.wrapper .content > .small-description {
    width: 100%;
    font-size: 16px;
    color: $home-text-fg;
    text-align: left;
    @include onMediumDevice {
        font-size: 14px;
    }
}

.wrapper .content > .explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 16px;
    color: $home-text-fg;
    background-color: $explore-btn-bg;
    border-radius: 1.4em;
    box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.4);

    @include onMediumDevice {
        width: 110px;
        height: 35px;
        font-size: 14px;
    }
}

#platforms , .availability {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
    // background-color: yellow;
    @include onMediumDevice {
        padding: 50px 0;
        height: auto;
    }
}

.availability > .av-label {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    text-align: center;
    color: $home-text-fg;
    @include onMediumDevice {
        font-size: 30px;
        margin: 15px 0;
    }
}

.availability > .platforms-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: auto;
    @include onMediumDevice {
        width: 85%;
        margin: 15px 0;
    }
}

.platforms-container > .platform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    text-decoration: none;
    color: $platform-fg;
    &:hover {
        color: $platform-hover-fg;
    }
}

.platform > .platform-icon {
    margin: 10px 0;
    font-size: 45px;
    @include onMediumDevice {
        font-size: 35px;
    }
}

.platform > .platform-type {
    margin: 10px 0;
    font-size: 18px;
    @include onMediumDevice {
        font-size: 16px;
    }
}


#about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    // background-color: yellow;
}


#about .about-title {
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    font-size: 35px;
    text-align: center;
    color: $about-fg;
    @include onMediumDevice {
        margin: 15px 0;
        width: 85%;
        font-size: 30px;
    }
}

#about .about-description {
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    text-align: center;
    color: $about-fg;
    font-size: 20px;
    @include onMediumDevice {
        margin: 15px 0;
        font-size: 16px;
    }
}



#pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    height: auto;
    // background-color: yellow;
}


#pricing .pricing-title {
    font-family: 'Quicksand', sans-serif;
   
    align-items: center;
    font-size: 35px;
    text-align: center;
    color: $pricing-fg;
    @include onMediumDevice {
        margin: 15px 0;
        width: 85%;
        font-size: 30px;
    }
}


.plan {
    display: block;
    width: 100%;
    min-height: 100%;
    background-color: $secondary;
    border: 1px solid $plan-border;
   
}

.plan > .plan-fg-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    inset: 0;
    width: 100%;
    // background-color: yellow;
}

 .plan-fg-panel > .plan-title-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    font-size: 20px;
}

.plan-title-wrapper > .plan-icon {
    margin: 0 5px;
    color: $plan-icon-fg;
}

.plan-title-wrapper > .plan-title {
    font-family: 'Quicksand', sans-serif;
    margin: 0 5px;
    color: $pricing-fg;
    font-weight: bold;
}


.plan-fg-panel > .table {
    display: block;
    width: 90%;
    height: 70%;
    // background-color: yellow;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.table > .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
    // background-color: blue;
    scroll-snap-align: start;
}

.row > .column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    &.cell-0 {
        width: 20%;
        // background-color: blue;
    }
    &.cell-1 {
        width: 80%;
        // background-color: yellow;
    }
    height: auto;
    
}

.cell-0 > .feature-icon {
    font-size: 18px;
    &.feature-yes {
        color: $feature-yes-fg;
    }
    &.feature-no {
        color: $feature-no-fg;
    }
    @include onMediumDevice {
        font-size: 22px;
    }
}


.cell-1 > .feature-desc {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: $pricing-fg;
    @include onMediumDevice {
        font-size: 18px;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    height: auto;
}

#contact .contact-title {
    font-family: 'Quicksand', sans-serif;
    margin: 25px 0;
    align-items: center;
    font-size: 35px;
    text-align: center;
    color: $contact-fg;
    @include onMediumDevice {
        margin: 15px 0;
        width: 85%;
        font-size: 30px;
    }
}

#contact #contact-form {
    background-color: $secondary;
}


.landpage-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $footer-bg;
}

.landpage-footer > .social-link-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    width: 15%;
    height: auto;
    @include onMediumDevice {
        width: 60%;
    }
}


.social-link-wrapper > .social-link {
    font-size: 35px;
    text-decoration: none;
    color: $social-link-fg;
}

.landpage-footer > .copy-rights {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    color: $copy-rights-fg;
}